<style>

h2{
  color:darkblue;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.card{
  height: 100vh;
  padding: 3px;
  margin: 3;
  size: 50%;
  width: 30rem;
}
.field{
  padding: 5;
  margin: 3;
}

</style>
<div class="d-flex align-items-center justify-content-center" >
<div class="card">
    <div class="card border-dark shadow-sm">
  <div class="card-body">
     <b><h2 class="card-title">Sign up</h2></b>

<%= bootstrap_form_for(resource, as: resource_name,data:{turbo: false}, url: registration_path(resource_name)) do |f| %>
 
  <span class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </span>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.text_field :name , autofocus: true %>
    
  </div>
  <div class="field">
    <%= f.text_field :surname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.collection_select :interest,Category.all, :id,:name,{},{class: 'form-control'} %>
  </div><br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
</div>
